.galery{
    text-align: center;
    width: 980px;
    height: 460px;
    background-color: rgb(117, 247, 252);
    border: 5px;
    overflow: hidden;
    border-color: rgb(31, 6, 6);
}

.imagens{

    text-align: center;
    width: 500%;
    animation-name: Animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;  

}

.imagens img{

    text-align: center;
    width: 19.9%;

}

.corpo {
    background-color: rgb(135, 169, 221);
}
